/* .App-header {
  font-family: 'Babylonica', cursive;
    text-align: center;
    font-size: 3vw;
    color: rgb(1, 116, 147);
  } */

html {
  margin:0;
}

@media screen and (max-width:767px) {
  .App {
      text-align: center !important;
  }
}

/* .App-header p {
  margin: 0.5rem;
} */

 footer{
   font-family: 'Montserrat', sans-serif;
 }
